body {
  width: 1900px;
  height: 1200px;
  /* display: inline-block; */
  position: relative;
}
.container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow : column wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .bgImages {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

.js-calender-clock {
  border: 1px solid #000;
  flex: auto;
  width: 50%;
  height: 30%;
}
.calender {}
.clock {}

.js-weather {
  border: 1px solid #000;
  flex: auto;
  width: 50%;
  height: 70%;
}

.js-greeting-toDoList {
  border: 1px solid #000;
  flex: auto;
  align-self: flex-end;
  width: 50%;
  height: 50%;
}
.inner-greeting {}
.inner-toDoList {}



.colon1 {
  animation: b 1s linear infinite;
}

@keyframes b {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.colon2 {
  animation: d 1s linear infinite;
}

@keyframes d {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.form-greeting,
.greeting {
  display: none;
}

.showing {
  display: block;
}

