body {
  width: 1900px;
  height: 1200px;
  position: relative;
}
.container {
  display: flex;
  flex-flow : column wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.container .bgImages {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
  border-radius: 10%;
}

.js-calender-clock {
  /* border: 1px solid #000; */
  flex: auto;
  width: 50%;
  height: 30%;
  position: relative;
}
.inner-calender-clock {
  border: 1px solid #000;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 19px;
  border-radius: 10px;
}
.calender {
  padding: 5px;
  font-size: 1.3rem;
}
.clock {
  padding: 5px;
  font-size: 1.3rem;

}

.js-weather {
  border: 1px solid #000;
  flex: auto;
  width: 50%;
  height: 70%;
  position: relative;

}
.inner-weather {
  border: 1px solid #000;
  width: 75%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

}
.weather {
  display: inline-block;
  text-align: center;
  padding: 40px;
}

.js-greeting-toDoList {
  border: 1px solid #000;
  flex: auto;
  align-self: flex-end;
  width: 50%;
  height: 50%;
  position: relative;

}

.inner-greeting-toDoList {
  border: 1px solid #000;
  width: 75%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

}
.form-greeting {
  text-align: center;

}
.form-toDoList {
  text-align: center;

}


.colon1 {
  animation: b 1s linear infinite;
}

@keyframes b {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.colon2 {
  animation: d 1s linear infinite;
}

@keyframes d {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.form-greeting,
.greeting {
  display: none;
}

.showing {
  display: block;
}

