.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: white;
}
.tab {
  display: flex;
  align-items: center;
}
.icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
}
.logo {
  padding-left: 16px;
}
.center-tab {
  display: flex;
  align-items: center;
  flex: 0 1 700px;
  padding: 0 16px;
}
.input {
  flex: 1;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  height: 30px;
}
.search-icon {
  border: 1px solid #d3d3d3;
  width: 24px;
  height: 24px;
  padding: 2px 20px;
  background-color: #f8f8f8;
  cursor: pointer;
}
