.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.layout {
  display: flex;
  flex: 1;
  margin-top: 56px;
}
.content {
  flex: 1;
  margin-left: 240px;
  background-color: #f2f2f2;
}

.no-menu {
  flex: 1;
  margin-left: 0;
  background-color: #f2f2f2;
}

@media screen and (max-width: 911px) {
  .content {
    margin-left: 72px;
  }
}
