.menu {
  position: fixed;
  top: 56px;
  box-sizing: border-box;
  width: 240px;
  padding: 12px 12px 12px 0; /* top, right, bottom, left */
}

.link {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.focused {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.focused:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

@media screen and (max-width: 911px) {
  .text {
    display: none; /* 실제 공간까지 없게해줌 */
  }
  .menu {
    width: 72px;
    padding: 0;
  }
  .link {
    height: 72px;
  }
  .focused {
    height: 72px;
  }
  .icon {
    margin: 0;
  }
}
