.input[type="text"] {
  width: 200px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
  padding-left: 10px; /* 왼쪽의 글자를 입력하는 부분 조금 떨어뜨리기 */
}

.small {
  /* height: calc(auto-30px); */
  height: 30px;
  /* font-size: calc(auto-5px); */
  font-size: 12px;
}

.medium {
  height: 40px;
  font-size: 15px;
}

.large {
  height: 50px;
  font-size: 18px;
}
